<!DOCTYPE html>
<html>
<head>
    <title>E-shoping</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script>
        function download() {
            $.getJSON("/rest/products", function(data) {
                data.forEach((product) => {
                    $("#products").append("<p> " + product.productName + " za cenę " + product.price + "</p>");
                });
            });
        }

        $(document).ready(function() {
            $("#button").on("click", download);
        });
    </script>
</head>
<body>
<h1>Stronka ze skryptem</h1>
<div><button id="button">Pobierz produkty</button></div>
<div id="products"></div>
</body>
</html>
